img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.img-view-dialog {
  // position: fixed;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // z-index: 1;
  // background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 1px;
  border: 1px solid #000;
  overflow: hidden;
}

.img-view-content {
  display: inline-block;
  visibility: visible;
  transition: transform 0.6s, margin 0.6s;
  cursor: -webkit-grab;
  -webkit-backface-visibility: hidden;
  animation: flyin 0.5s;
}

.img-view-content img {
  display: block;
  transition: all 0.6s;
  min-width: 0;
  max-width: none;
  min-height: 0;
  max-height: none;
  object-fit: cover;
}

@-webkit-keyframes flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@keyframes flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
