.grid {
  display: grid;
  grid-template-areas: 'title board'
  'stats board'
  'score ctrls';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

#title {
  grid-area: title;
}

#score {
  grid-area: score;
}

#stats {
  grid-area: stats;
}

#board {
  grid-area: board;
}

#controls {
  grid-area: ctrls;
}
